<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
       {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
</head>
<body>
    <div class="container">
    <nav class="navbar">
    <div class="container-fluid">
    <div class="nav-header">
    <div>Microblog: <a href="{{ url_for('index') }}">{{ _('Home')  }}</a>
    {% if g.user.is_authenticated() %}
        |<a href="{{ url_for('user', nickname=g.user.nickname) }}" class="navbar-link">{{ _('Your Profile') }} </a>
        | <form style="display: inline;" class="form-inline " action="{{ url_for('search') }}" method="post" name="search"><div class="input-append">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20, placeholder="Type here", class="span4", id="appendedInputButton") }}<input type="submit" class="btn" value="{{ _('Search') }}"></div></form>
    | <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </div>
    </div>
    </div>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li  class="alert alert-danger" role="alert">{{ message }}</li>
                {% endfor %}

            </ul>
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    </div>
    <script>
        function translate(sourceLang, destLang, sourceId, destId, loadingId) {
            $(destId).hide();
            $(loadingId).show();
            $.post('/translate', {
                text: $(sourceId).text(),
                sourceLang: sourceLang,
                destLang: destLang
            }).done(function(translated) {
                $(destId).text(translated['text'])
                $(loadingId).hide();
                $(destId).show();
            }).fail(function() {
                $(destId).text("{{ _('Error: Could not contact server.') }}");
                $(loadingId).hide();
                $(destId).show();
            });
        }
    </script>
</body>
</html>