{% extends 'base.html' %}

{% block content %}
    <h1>Edit Your Profile</h1>
    <form action="" method="post" name="edit">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Your nickname:</td>
                <td>{{ form.nickname(size=24) }}</td>
                {% for error in form.errors.nickname %}
                    <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </tr>
            <tr>
                <td>About yourself:</td>
                <td>{{ form.about_me(cols=32, rows=4) }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save Changes"></td>
            </tr>
        </table>
    </form>
{% endblock %}