{% extends "base.html" %}

{#
{% block content %}
    <h1>Hello, {{ user.nickname }}</h1>
    {% for post in posts %}
    <div><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}#}

{% block content %}
    <h1>Hi, {{ g.user.nickname }}</h1>
    <form action="" method="post" name="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>Say something:</td>
            <td>{{ form.post(size=30, maxlength=140) }}</td>
            <td>
                {% for error in form.post.errors %}
                <span class="alert alert-danger" role="alert">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
    <tr>
        <td></td>
        <td><input class="btn" type="submit" value="Post!"></td>
    </tr>
    </table>

    </form>
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}

    {# pager area start #}
    <ul class="pager">

       {% if posts.has_prev %}
           <li>
       <a href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>
           </li>
   {% else %}
           <li class="disabled">
               <a href="#">&lt;&lt; Newer posts</a>
           </li>
       {% endif %}


        {% if posts.has_next %}
            <li>
            <a href="{{ url_for('index', page=posts.next_num) }}">Older posts &gt;&gt;</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#">Older posts &gt;&gt;</a>
            </li>

        {% endif %}

    </ul>

    {# pager area end #}
{% endblock %}