<table class="table table-hover">
    <tr>
        <td width="70px"><a href="{{ url_for('user', nickname=post.author.nickname) }}"><img src="{{ post.author.avatar(70) }}" /></a></td>
        <td>
            {% autoescape false %}
            <p>{{ _('%(nickname)s said %(when)s:', nickname='<a href="%s">%s</a>' % (url_for('user', nickname=post.author.nickname), post.author.nickname), when=momentjs(post.timestamp).fromNow()) }}</p>
            {% endautoescape %}
            <p><strong><span id="post{{ post.id }}">{{ post.body }}</span></strong></p>


            {% if post.language != None and post.language != '' and post.language != g.locale %}
            <div><span id="translation{{post.id}}">
            <a href="javascript:translate('{{ post.language }}', '{{ g.locale }}', '#post{{ post.id }}', '#translation{{ post.id }}', '#loading{{ post.id }}');">
                {{ _('Translate') }}
                </a>
                </span></div>
            {% endif %}
            <img id="loading{{post.id}}" style="display: none" src="/static/img/loading.gif">

        </td>
    </tr>
</table>