{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}" alt="Big avatar"></td>
            <td> <h1>User: {{ user.nickname }}!</h1>
            {% if user.about_me %} <p>{{ user.about_me }}</p> {% endif %}
            {% if user.last_seen %}<p><i>Last seen on: {{ momentjs(user.last_seen).calendar() }}</i></p>{% endif %}
            {{ user.followers.count() }} followers |
            {% if user.id == g.user.id %}
                <a href="{{ url_for('edit') }}">Edit your profile</a>
            {% elif not g.user.is_following(user) %}
                <a href="{{ url_for('follow',nickname=user.nickname) }}">Follow</a>
            {% else %}
                <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
            {% endif %}
                </p>
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}
    {# pager area start #}
    <ul class="pager">

        {% if posts.has_prev %}
            <li>
                <a href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#">&lt;&lt; Newer posts</a>
            </li>
        {% endif %}


        {% if posts.has_next %}
            <li>
                <a href="{{ url_for('index', page=posts.next_num) }}">Older posts &gt;&gt;</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#">Older posts &gt;&gt;</a>
            </li>

        {% endif %}

    </ul>

    {# pager area end #}
{% endblock %}